.create-container {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.avatar-upload {
  max-width: 205px;
  margin-left: 38px;
  position: relative;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.group {
  margin-top: 2rem;
}

div.group label {
  display: flex;
  font-size: 1.3rem;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #25b7c4;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table tr {
  padding: 0.35em;
  background-color: #f8f8f8;
}

table tbody tr:hover {
  background-color: #25b7c40c;
}

table th,
table td {
  color: #25b7c4;
  padding: 0.625em;
  text-align: center;
  border: 1px solid #25b7c40c;
}

table th {
  height: 50px;
  background-color: #25b7c40c;
}

table th {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
    border: 1px solid #25b7c4;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
    border-bottom: 1px solid #25b7c4;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

section {
  margin: 50px;
}
img {
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

button {
  outline: 0;
  width: auto;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  border-radius: 24px;
  -webkit-appearance: none;
  transition: all 0.3s ease;
  background-color: #90caf9;
  padding: 5px 12px !important;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
}
button:hover {
  transform: translateY(-3px);
}
button:hover:active {
  transform: scale(0.99);
}

.not-found {
  text-align: 'center';
  background: '#25b7c40a';
}

.create-button {
  margin-bottom: 1rem;
  background-color: #95f990;
  padding: 15px 15px !important;
}

.delete-button {
  margin-left: 1%;
  background-color: #f99090;
}

.create-button {
  margin-left: 1%;
  padding: 10px 20px !important;
  background-color: #90f9a0 !important;
}

.back-button {
  margin-right: 1%;
  padding: 10px 20px !important;
  background-color: #f99090 !important;
}

.edit-button {
  margin-right: 1%;
}

.change-button {
  padding: 10px 20px !important;
}
